<!DOCTYPE html>
<html>
<head>
  <title>Embed API Demo : Component - Auth</title>
</head>
<body>

<section id="auth-button"></section>
<section id="view-selector-container"></section>

<script>
(function(w,d,s,g,js,fjs){
  g=w.gapi||(w.gapi={});g.analytics={q:[],ready:function(cb){this.q.push(cb)}};
  js=d.createElement(s);fjs=d.getElementsByTagName(s)[0];
  js.src='https://apis.google.com/js/platform.js';
  fjs.parentNode.insertBefore(js,fjs);js.onload=function(){g.load('analytics')};
}(window,document,'script'));
</script>

<script>
gapi.analytics.ready(function() {

  var CLIENT_ID = 'INSERT YOUR CLIENT ID HERE';

  /**
   * Authorize the user immediately if the user has already granted access.
   * If no access has been created, render an authorize button inside the
   * element with the ID "embed-api-auth-container".
   */
  gapi.analytics.auth.authorize({
    container: 'auth-button',
    clientid: CLIENT_ID,
  });

  /**
   * Codes that will execute after authorization has happened
   */
  gapi.analytics.auth.on('success', function(response) {   
    // Render the view selector to the page.
    console.log('I am logged in');
    console.log(response);
  });
 
});
</script>
</body>
</html>